body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

.errors{
	max-width: 300px;
	background-color: #fec7c0;
	border-radius: 5px;
	margin: 20px auto;
}
.errors li {
	color:red;
}

form {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input, textarea, button {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}